<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <display-name>Archetype Created Web Application</display-name>

    <!--<error-page>-->
        <!--<exception-type>java.lang.Exception</exception-type>-->
        <!--<location>/WEB-INF/jsp/error.jsp</location>-->
    <!--</error-page>-->



    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>ua.gordeichuk.payments.controller.AppServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
        <welcome-file></welcome-file>
    </welcome-file-list>


    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>

    <resource-ref>
        <description>Payments Pool</description>
        <res-ref-name>jdbc/payments</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.gordeichuk.payments.controller.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <!--<filter>-->
    <!--<filter-name>SessionFilter</filter-name>-->
    <!--<filter-class>ua.gordeichuk.payments.controller.filter.CommonFilter</filter-class>-->
<!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>SessionFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter>-->
        <!--<filter-name>AdminFilter</filter-name>-->
        <!--<filter-class>ua.gordeichuk.payments.controller.filter.AdminFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>AdminFilter</filter-name>-->
        <!--<url-pattern>/admin/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter>-->
        <!--<filter-name>UserFilter</filter-name>-->
        <!--<filter-class>ua.gordeichuk.payments.controller.filter.UserFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>UserFilter</filter-name>-->
        <!--<url-pattern>/user/*</url-pattern>-->
    <!--</filter-mapping>-->




</web-app>